<%- include('./layout/header.ejs') -%>

    <div class="jumbotron jumbotron1 jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col col-md-6">
                    <h1 class="slogan-1">Beri
                        <span>Arti</span>
                    </h1>
                    <h1 class="slogan-2">dalam
                        <span>hidupmu</span>
                    </h1>
                    <p class="lead mt-4">This is a modified jumbotron that occupies<br>
                            the entire horizontal space of its parent.</p>

                        <div class="search_wrap search_wrap_6">
                            <div class="search_box">
                                <input type="text" class="input" placeholder="/ tulis namamu...">
                                    <div class="btn btn-common">
                                        <span>
                                            <img src="/img/Asset 1.png" width="100vh" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn-beriwadah">Beri Wadah</button>
                            </div>
                            <div class="col col-md-6">
                                <img src="/img/wfh_9.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('./layout/footer.ejs') -%>
<div class="">
    <h1>hai cuk</h1>
</div>
<%- include('./layout/footer.ejs') -%>
