* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-color: aliceblue;
}
body {
    overflow-x: hidden;
}

.navbar {
    background-color: transparent;
}
.nav-links a {
    color: #a2a2a2 !important;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
}
.nav-btn .btn-login {
    font-family: 'Poppins';
    font-size: 14px;
    width: 100px;
    height: 40px;
    border-radius: 14px;
    border: 2px solid #707070;
    margin-right: 10px;
    background-color: transparent;
}
.nav-btn .btn-signup {
    padding: 8px;
    font-family: 'Poppins';
    font-size: 14px;
    width: 100px;
    height: 40px;
    border-radius: 14px;
    background-color: #35b6e1;
    color: #FCFCFC;
    font-weight: bold;
    border: none;
}

/* JUMBOTRON */
.jumbotron1 {
    background-color: #FeFeFe !important;
}
.jumbotron1 .row .col {
    padding-top: 10vh;
}
.jumbotron1 .slogan-1 {
    font-family: 'Gilroy';
    font-weight: bold;
    color: #5A5747;
    font-size: 60px;
    padding: 0 40px;
}
.jumbotron1 .slogan-1 span {
    font-family: 'Gilroy';
    font-weight: bold;
    color: #35b6e1;
}
.jumbotron1 .slogan-2 {
    font-family: 'Gilroy';
    font-weight: bold;
    color: #5A5747;
    font-size: 60px;
    padding: 0 40px;
}
.jumbotron1 .slogan-2 span {
    font-family: 'Gilroy';
    font-weight: bold;
    color: #35b6e1;
}
.jumbotron1 .lead {
    padding: 0 40px;
    color: #afafaf;
}

.search_wrap {
    width: 500px;
    padding: 0 40px;
    margin-top: 40px;
}
.search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 60px;
}
.search_wrap .search_box .input {
    box-shadow: 4px 4px 10px #C6C9B8;
    background-color: #fefefe;
    font-family: 'Gilroy';
    color: #3d3d3d;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 18px;
    text-align: end;
    border-radius: 2px 30px 30px 30px;
}
.search_wrap .search_box .btn {
    position: absolute;
    top: 15%;
    left: 2%;
    width: 120px;
    height: 45px;
    background-color: transparent;
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
    border-radius: 14px;
}

.search_wrap .search_box .btn.btn_common span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-beriwadah {
    box-shadow: 6px 6px 10px #C6C9B8;
    border: none;
    padding: 10px;
    margin: 30px 40px 0 40px;
    font-family: 'Poppins';
    font-size: 15px;
    width: 130px;
    height: 50px;
    border-radius: 2px 30px 30px 30px;
    background-color: #35b6e1;
    color: #FCFCFC;
    font-weight: bold;
}

.jumbotron2 {
    background-color: #FeFeFe !important;
}
.jumbotron2 h1 {
    font-family: 'Gilroy';
    font-weight: 600;
    color: #858585;
}

/* CSS MODAL LOGIN */
.modal-title-login {
    color: #21244d;
    font-family: 'Gilroy';
}
.modal-body-login .username label, 
.modal-body-login .password label {
    font-family: 'Nutmeg';
    font-weight: 500;
}
.modal-body-login .username input, 
.modal-body-login .password input {
    border-radius: 14px;
    height: 45px;
    border: 2px solid #707070;
}
.modal-footer-login button {
    border-radius: 2px 30px 30px 30px;
    background-color: #35b6e1;
    color: #ededed;
    font-family: 'Gilroy';
    font-weight: bold;
    transition: all ease-out .3s;
}
.modal-footer-login button:hover {
    background-color: #fcfcfc;
    color: #707070;
}