<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- {{!-- CSS --}} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/css/style.css">
    <link rel="icon" type="image/png" href="/assets/img/logo.ico"/>
    <!-- {{!-- font awesome --}} -->
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="/assets/img/Asset-1.png" alt="" width="130"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto mr-auto nav-links text-center">
            <li class="nav-item">
              <a class="nav-link mr-4" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-4" href="#">Help</a>
            </li>
          </ul>
            <ul class="navbar-nav nav-btn">
              <% if(sessionLogin) { %>
                <% if(sessionUsername) { %>
              <li class="nav-item">
                <a href="auth/logout" ><button class="btn-login">Log Out</button></a>
              </li>
              <li class="nav-item">
                <a href="/admin">
                <button type="button" class="btn btn-signup">
                  <span class="badge badge-light"><img src="/assets/img/icons/user.png" width="15"></span> Admin 
                </button>
                </a>
              </li>
              <% } %>
              <% } else { %>
                <li class="nav-item">
                  <a href="auth/login" ><button class="btn-login">Log In</button></a>
  
                 
                </li>
                <li class="nav-item">
                  <a href="auth/signup"><button class="btn-signup">Sign Up</button></a>
                </li>
                <% } %>
            </ul>
        </div>
      </div>
      </nav>

<!-- AKHIR MODAL SIGNUP -->