<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- {{!-- CSS --}} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/css/style.css">
    <link rel="stylesheet" href="/dist/css/style.min.css">
    <link rel="icon" type="image/png" href="/assets/img/logo.ico"/>
    <link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
    <!-- {{!-- font awesome --}} -->
    
</head>
<body>
  
  <% if ( sessionFlash && sessionFlash.message) { %>
    <div class="alert alert-<%= sessionFlash.type %> alert-dismissible fade show" role="alert">
      <strong><%= sessionFlash.message %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="/assets/img/Asset-1.png" alt="" width="130"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto mr-auto nav-links text-center">
            <li class="nav-item">
              <a class="nav-link mr-4" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-4" href="#">Help</a>
            </li>
          </ul>
            <ul class="navbar-nav nav-btn">
              <% if(sessionLogin) { %>
                <% if(sessionUsername) { %>
              <li class="nav-item">
                <a href="auth/logout" ><button class="btn-login">Log Out</button></a>
              </li>
              <li class="nav-item">
                <a href="/admin">
                <button type="button" class="btn btn-signup">
                  <span class="badge badge-light"><img src="/assets/img/icons/user.png" width="15"></span> Admin 
                </button>
                </a>
              </li>
              <% } %>
              <% } else { %>
                <li class="nav-item">
                  <a href="#login-modal" ><button class="btn-login" data-toggle="modal" data-target="#login-modal">Log In</button></a>
  
                 
                </li>
                <li class="nav-item">
                  <a href="#signup-modal" ><button class="btn-signup" data-toggle="modal" data-target="#signup-modal">Sign Up</button></a>
                </li>
                <% } %>
            </ul>
        </div>
      </div>
      </nav>

       <!-- SignIn modal content -->
       <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="text-success">
                            <span><img src="/assets/img/Asset-1.png" alt="" height="30"></span>
                        </a>
                    </div>

                    <form method="POST" action="/auth/login" class="pl-3 pr-3">

                        <div class="form-group">
                            <label for="usernamePengguna">Username</label>
                            <input class="form-control" type="text" id="usernamePengguna"
                                required="" placeholder="Enter your username" name="usernamePengguna">
                        </div>

                        <div class="form-group">
                            <label for="passwordPengguna">Password</label>
                            <input class="form-control" type="password" required=""
                                id="passwordPengguna" name="passwordPengguna" placeholder="Enter your password">
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="customCheck2">
                                <label class="custom-control-label"
                                    for="customCheck2">Remember me</label>
                            </div>
                        </div>

                        <div class="form-group text-center mt-5">
                            <button class="btn btn-block btn-rounded btn-info" type="submit">Log
                                In</button>
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

     <!-- Signup modal content -->
     <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">

             <div class="modal-body">
                 <div class="text-center mt-2 mb-4">
                     <a href="index.html" class="text-success">
                         <span><img src="/assets/img/Asset-1.png" alt="" height="30"></span>
                     </a>
                 </div>

                 <form class="pl-3 pr-3" action="/auth/signup" method="POST">

                  <div class="form-row">
                     <div class="form-group col-md-6">
                         <label for="username">Username</label>
                         <input class="form-control font-weight-bold" type="text" id="username"
                             required="" placeholder="Enter your username" name="usernamePengguna" minlength="8">
                     </div>
                     <div class="form-group col-md-6">
                         <label for="namaPengguna">Nama</label>
                         <input class="form-control" type="name" id="namaPengguna"
                             required="" placeholder="Enter your Name" name="namaPengguna">
                     </div>
                    </div>

                     <div class="form-group">
                         <label for="emailPengguna">Email address</label>
                         <input class="form-control" type="email" id="emailPengguna"
                             required="" placeholder="xxxx@gmail.com" name="emailPengguna">
                     </div>

                     <div class="form-group">
                         <label for="passwordPengguna">Password</label>
                         <input class="form-control" type="password" required=""
                             id="passwordPengguna" placeholder="Enter your password" name="passwordPengguna">
                     </div>

                     <div class="form-group">
                         <div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input"
                                 id="customCheck1" required>
                             <label class="custom-control-label" for="customCheck1">I
                                 accept <a href="#">Terms and Conditions</a></label>
                         </div>
                     </div>

                     <div class="form-group text-center mt-4">
                         <button class="btn btn-block btn-rounded btn-success" type="submit">Sign Up</button>
                     </div>

                 </form>

             </div>
         </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
