<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- {{!-- CSS --}} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- {{!-- font awesome --}} -->
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar accordion font-weight-bolder" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa fa-stethoscope"></i>
                </div>
                <div class="sidebar-brand-text mx-1">BIARSEMBOOH</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- ! hak akses admin -->
            <% if(session == "admin") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <span>Dashboard</span>
                        <i class="fas fa-fw fa-tachometer-alt float-right"></i>
                    </a>
                </li>
    
                <!-- Divider -->
                <hr class="sidebar-divider">
    
                <!-- Heading -->
                <div class="sidebar-heading">
                    Pemeriksaan
                </div>
    
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/daftarPasien">
                        <span>Pendaftaran</span>
                        <i class="fas fa-scroll float-right"></i>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/pemeriksaanPasien">
                        <span>Pemeriksaan</span>
                        <i class="fas fa-thermometer float-right"></i>
                    </a>
                </li>
    
                <li class="nav-item ">
                    <a class="nav-link" href="/hasilPemeriksaan">
                        <span>Hasil Pemeriksaan</span>
                        <i class="fas fa-fw fa-table float-right"></i>
                    </a>
                </li>
    
                <!-- Divider -->
                <hr class="sidebar-divider">
    
                <!-- Heading -->
                <div class="sidebar-heading">
                    Data
                </div>
    
                <!--! Rekam Medis-->
                <li class="nav-item ">
                    <a class="nav-link" href="/rekamMedis">
                        <span>Data Rekam Medis</span>
                        <i class="fas fa-database float-right"></i>
                    </a>
                </li>
    
                <!-- ! resep -->
                <li class="nav-item ">
                    <a class="nav-link" href="/dataResep">
                        <span>Resep Pasien</span>
                        <i class="fas fa-database float-right"></i>
                    </a>
                </li>

                <!-- ! DIAGNOSA -->
                <li class="nav-item ">
                    <a class="nav-link" href="/dataDiagnosa">
                        <span>Diagnosa Pasien</span>
                        <i class="fas fa-database float-right"></i>
                    </a>
                </li>
    
                <!-- ! Dokter-->
                <li class="nav-item">
                    <a class="nav-link" href="/dataDokter">
                        <div class="">
                            <span>Data Dokter</span>
                            <i class="fas fa-user-md float-right"></i>
                        </div>
                    </a>
                </li>
    
                <!-- ! Perawat -->
                <li class="nav-item">
                    <a class="nav-link" href="/dataPerawat">
                        <span>Data Perawat</span>
                        <i class="fas fa-user-nurse float-right"></i>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/dataRuangan">
                        <span>Data Kamar</span>
                        <i class="fas fa-procedures float-right"></i>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" href="/dataObat">
                        <span>Data Obat</span>
                        <i class="fa fa-capsules float-right"></i>
                    </a>
                </li>
                <% } %>



                <!-- ? akses link perawat -->
                <% if(session == "perawat") { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/homePerawat">
                    <span>Dashboard</span>
                    <i class="fas fa-fw fa-tachometer-alt float-right"></i>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Data
            </div>
            <!--! Rekam Medis-->
            <li class="nav-item ">
                <a class="nav-link" href="/rekamMedis">
                    <span>Data Rekam Medis</span>
                    <i class="fas fa-database float-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dataRuangan">
                    <span>Data Kamar</span>
                    <i class="fas fa-procedures float-right"></i>
                </a>
            </li>
            <% } %>
            <!-- ? akhir akses perawat -->

            
            <% if(session == "dokter") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/homeDokter">
                <span>Dashboard</span>
                <i class="fas fa-fw fa-tachometer-alt float-right"></i>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Data
        </div>
        <!--! Rekam Medis-->
        <li class="nav-item ">
            <a class="nav-link" href="/dataObat">
                <span>Data Obat</span>
                <i class="fas fa-database float-right"></i>
            </a>
        </li>
        <% } %>
        <!-- ? akhir akses dokter -->


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h5 mb-0 text-gray-800 mx-3 mt-4">Welcome Back, <span class="text-success text-uppercase" style="font-weight: 600;"><%= session%></span> </h1>
                          </div>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown">
                                <span class="text-success font-weight-bold">Setting</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <!-- <a class="dropdown-item" href="/login" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    LOGIN -->
                                <a class="dropdown-item" href="/login/logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                                </a>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <div class="container-fluid">